In [1]:
from os import listdir
import pandas as pd
import PIL
from PIL import Image
from matplotlib import image
from matplotlib import pyplot
from numpy import asarray
import numpy as np

In [125]:
loaded_images = list()
for filename in listdir('Train/Images'):
    image = Image.open('Train/Images/' + filename)
    gs_image = image.convert(mode='L')
    img_resized = gs_image.resize((100,100))
    data = asarray(img_resized)
    data = data.reshape((10000,1))
    loaded_images.append(data)

C:\Users\titan\Anaconda3\envs\MachineLearning\lib\site-packages\PIL\Image.py:969: UserWarning: Palette images with Transparency   expressed in bytes should be converted to RGBA images
  'to RGBA images')

In [126]:
df=pd.read_csv("Train/train.csv")

In [127]:
df.head()

   ImageId NameOfPokemon
0  296.jpg       Pikachu
1  297.jpg       Pikachu
2  298.jpg       Pikachu
3  299.jpg       Pikachu
4  300.jpg       Pikachu

In [128]:
for j in range(10000):
 df["pixel"+str(j)]=   np.array([loaded_images[imag][j] for imag in range(len(loaded_images))])

In [129]:
df.head()

,ImageId,NameOfPokemon,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,...,pixel9990,pixel9991,pixel9992,pixel9993,pixel9994,pixel9995,pixel9996,pixel9997,pixel9998,pixel9999
0,296.jpg,Pikachu,181,181,182,183,183,182,183,184,...,128,127,127,128,127,128,128,128,129,129
1,297.jpg,Pikachu,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
2,298.jpg,Pikachu,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
3,299.jpg,Pikachu,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
4,300.jpg,Pikachu,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255

In [130]:
data=df.values

In [131]:
Y=data[:,1]
X=data[:,2:]

In [152]:
len(X[0])

10000

In [132]:
def dist(a1,a2):
    return np.sum((a1-a2)**2)**.5

In [133]:
def KNN(X,Y,test_point,k=3):
    m=X.shape[0]
    vals=[]
    for i in range(m):
        d=dist(test_point,X[i])
        vals.append((d,Y[i]))
    vals=sorted(vals)
    vals=np.array(vals[:k])
    b=np.unique(vals[:,1],return_counts=True)
    idx=np.argmax(b[1])
    pred=b[0][idx]
    return pred

In [134]:
from collections import namedtuple

Pair = namedtuple("Pair", ["first", "second"])

In [135]:
loaded_images = list()
for filename in listdir('Test/Images'):
    image = Image.open('Test/Images/' + filename)
    gs_image = image.convert(mode='L')
    img_resized = gs_image.resize((100,100))
    data = asarray(img_resized)
    data = data.reshape((10000,1))
    loaded_images.append(Pair(filename,data))

In [149]:
df1=pd.read_csv("Test/test.csv")
for j in range(10000):
 df1["pixel"+str(j)]=   np.array([loaded_images[imag].second[j] for imag in range(len(loaded_images))])
#df1.drop('ImageId',axis=1)

In [144]:
data1=df1.values

In [154]:
X1=data1[:,2:]

In [155]:
len(X1[0])

10000

In [156]:
results=list()
for i in range(len(X1)):
 results.append(Pair(loaded_images[i].first,KNN(X,Y,X1[i])))

In [157]:
df2 = pd.DataFrame(results)

In [158]:
df3=pd.read_csv("Test/test.csv")

In [159]:
for i in range(len(df2)):
 df3.loc[df3.ImageId ==  df2['first'][i], 'NameOfPokemon'] = str(df2['second'][i])

In [160]:
df3

      ImageId NameOfPokemon
0    1106.jpg     Bulbasaur
1    2236.jpg    Charmander
2    1131.jpg     Bulbasaur
3    2221.jpg    Charmander
4    2011.jpg     Bulbasaur
5    2030.jpg    Charmander
6    2035.jpg    Charmander
7    1110.jpg     Bulbasaur
8    1104.jpg     Bulbasaur
9    2217.jpg       Pikachu
10   1111.jpg     Bulbasaur
11   1100.jpg     Bulbasaur
12   1112.jpg     Bulbasaur
13   1138.jpg     Bulbasaur
14   2238.jpg    Charmander
15   2009.jpg     Bulbasaur
16   2225.jpg    Charmander
17   2240.jpg    Charmander
18   2020.jpg       Pikachu
19   2209.jpg    Charmander
20   2029.jpg    Charmander
21   1114.jpg    Charmander
22   2201.jpg    Charmander
23   1118.jpg     Bulbasaur
24   2025.jpg     Bulbasaur
25   2202.jpg    Charmander
26   1117.jpg     Bulbasaur
27   1119.jpg     Bulbasaur
28   2000.jpg       Pikachu
29   2007.jpg    Charmander
..        ...           ...
93   2022.jpg     Bulbasaur
94   2005.jpg       Pikachu
95   2218.jpg    Charmander
96   2036.jpg       Pikachu
97   1115.jpg     Bulbasaur
98   2032.jpg       Pikachu
99   2200.jpg    Charmander
100  1134.jpg     Bulbasaur
101  1130.jpg     Bulbasaur
102  1107.jpg     Bulbasaur
103  2034.jpg     Bulbasaur
104  2205.jpg    Charmander
105  2008.jpg    Charmander
106  2027.jpg     Bulbasaur
107  2028.jpg       Pikachu
108  2239.jpg    Charmander
109  1108.jpg     Bulbasaur
110  2010.jpg    Charmander
111  2229.jpg    Charmander
112  2219.jpg       Pikachu
113  2019.jpg     Bulbasaur
114  2207.jpg     Bulbasaur
115  2002.jpg       Pikachu
116  2037.jpg     Bulbasaur
117  2038.jpg    Charmander
118  1124.jpg     Bulbasaur
119  2014.jpg       Pikachu
120  2235.jpg    Charmander
121  1126.jpg     Bulbasaur
122  2021.jpg     Bulbasaur

[123 rows x 2 columns]

In [94]:
df2['first'][0]

'1100.jpg'

In [107]:
type(df2)

pandas.core.frame.DataFrame

In [161]:
df3.to_dense().to_csv("submission.csv", index = False, sep=',', encoding='utf-8')